#!/bin/sh

set -eux

# Source debconf library.
. /usr/share/debconf/confmodule

# Skip questions, if default settings should be used
db_input critical ralph_common/use_default || true
db_get ralph_common/use_default

if [ "$RET" = "false" ]; then
    exit 0
fi

# Read database settings
db_beginblock
db_input medium ralph_database/host || true
db_input medium ralph_database/username || true
db_input medium ralph_database/password || true
db_endblock
