#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_input critical ralphsrv/db_provider || true
db_go

db_input critical ralphsrv/db_username || true
db_go

db_input critical ralphsrv/db_password || true
db_go

db_input critical ralphsrv/db_host || true
db_go

db_input critical ralphsrv/db_port || true
db_go

db_input critical ralphsrv/db_name || true
db_go
